server:
  port: 8084

spring:
  application:
    name: group
  data:
    mongodb:
      uri: mongodb://group-mongodb:27017/groups_db
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
